---
import BaseLayout from '../layouts/BaseLayout.astro';

import BlogPost from '../components/BlogPost.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle="My Astro Learning Blog">
    <h1>{pageTitle}</h1>

    <p>This is where I'll post about my journey learning astro.</p>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout> 
